<div class="p-5 mt-5 bg-white">
  <div class="container-fluid p-5 rounded shadow bg-light">
    <h1 class="display-5 fw-bold sm-title text-dark">Short Links</h1>
    <div class="row">
      <div class="col-md-8">
        <p class="fs-4 text-dark">
          A URL shortener, to turn long, complicated URLs into smaller,
          bite-sized links.
        </p>
        <form action="/link" method="post">
          <div class="col-md-11 mt-4 mb-3 sm-url">
            <div class="form-floating">
              <input
                type="url"
                class="form-control"
                id="link"
                name="longUrl"
                placeholder="Enter URL"
                required
              />
              <label for="link" class="text-dark">Enter URL</label>
            </div>
          </div>
          <div class="col-md-4 sm-btn">
            <button
              type="submit"
              value="accept"
              class="btn btn-outline-dark py-2 px-4 btn-lg"
            >
              Generate Link
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-4 sm-image">
        <img
          src="/images/link_short.svg"
          class="img-thumbnail"
          alt="link image"
        />
      </div>
    </div>
  </div>
</div>
